body{
    color: rgba(55, 240, 18, 0.918);
    font-family: 'Crete Round', serif;
    font-size: 1.2em;
}

.border-wide{
    border-width: 7px !important;
}



h2{
    font-weight: bold;
}

li{
    list-style: none;
}

.burger-image{
    max-height: 40%;
    max-width: 40%;
}